
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .hero-btn{
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-400 transition-all 
    hover:border-secondary/100 hover:text-secondary/80
  }
  .header-title{
    @apply top-16 text-xl md:top-10  md:text-2xl uppercase tracking-[20px] text-gray-500  
  }
  .contact-container{
    @apply flex items-center  py-4 justify-center
  }
  .contact-font{
    @apply px-2 text-xl
  }
}

@layer base {
  html {
    font-family: "Playfair Display";
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5c5959; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F7ab0A; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F7ab0A; 
}
  

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}






.rasengan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -0%);
  width: 60px;
  height: 60px;
  perspective: 1000px;
  background: radial-gradient(#fff 5%, #2994f2 40%);
  border-radius: 50%;
  animation: twinkling 1.5s infinite linear; }

.rasengan .line {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 2px #fff; }

.line1 {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  animation: rotating 0.03s infinite linear; }

.line2 {
  top: 76px;
  left: 76px;
  bottom: 76px;
  right: 76px;
  animation: rotating 0.06s infinite linear; }

.line3 {
  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  animation: rotating 0.09s infinite linear; }

.line4 {
  top: 56px;
  left: 56px;
  bottom: 56px;
  right: 56px;
  animation: rotating 2.88s infinite linear; }

.line5 {
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  animation: rotating 2.91s infinite linear; }

.line6 {
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  animation: rotating 2.94s infinite linear; }

.line7 {
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  animation: rotating 2.97s infinite linear; }

@keyframes rotating {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg); } }

@keyframes twinkling {
  0%, 100% {
    box-shadow: 0 0 3px 0px #fff, 0 0 30px 15px #2994f2; }
  20% {
    box-shadow: 0 0 3px 1px #fff, 0 0 30px 10px #2994f2; }
  40% {
    box-shadow: 0 0 5px 0px #fff, 0 0 20px 15px #2994f2; }
  60% {
    box-shadow: 0 0 3px 1px #fff, 0 0 30px 15px #2994f2; }
  80% {
    box-shadow: 0 0 5px 0px #fff, 0 0 25px 10px #2994f2; } }
